@{
    ViewData["Title"] = "Mission";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">

            <h1 class="display-4 mb-4"><span class="custom-title1">Our Mission</span></h1>

            <div class="custom-bg-blue p-4 rounded">

            <p class="lead">The Aueb School makes Auebs academic resources—a distinguished faculty, well-equipped laboratories, fine museums, and a world-class university library—available to students of many ages, backgrounds, and nationalities through an intensive summer session of liberal arts courses in Cambridge and overseas.

            Our international student body includes Aueb undergraduate and graduate students, teachers, visitors from other colleges and universities, highly qualified secondary school students, and adult learners.

            Students take summer courses to challenge themselves academically, meet degree requirements, prepare for graduate school, gain college experience, advance their careers, and pursue personal enrichment.

            Students who study at Aueb Summer School may reside in a supportive residential environment, commute to campus, complete courses online, or participate in one of the faculty-led programs abroad. Many come to experience the extraordinary environment of Aueb College academics, resources, and residential life.

            Aueb Summer School serves the University community by providing faculty with teaching opportunities that allow them to experiment with new materials and teaching methods. Students from many Harvard schools take advantage of the breadth of summer course offerings to meet requirements for concentrations and degree programs, and to create more flexibility within their term-time academic program. Aueb College students take advantage of the summer session to expand their cultural, social, and intellectual horizons by studying abroad.</p>

            </div>
        </div>
        <div class="col-md-4">
            <img src="~/img/academic_life.jpg" alt="Academic Life" class="img-fluid rounded">
        </div>
    </div>
</div>